.alumini-box{
    /* background-color:#38419D; */
 }
 .main1 {
     width: 700px; 
     /* max-width: 700px; */
     margin: auto; 
     
 }
 
 .main2 {
     margin-top: 20px;
     
 }
 
 .main3 {
     height: 450px;
     color: black;
     border: 1px solid black;
     margin-top: 50px; 
     margin-right: 10px; /* Adjust the right margin to add gap between cards */
     text-align: center;
     padding: 5px;
     font-size: 15px;
     margin-bottom: 80px;
     border-radius: 8px;
     background-color: rgb(192, 190, 190);
 }
 
 .image {
     border-top: 1.5rem;
     height: 150px;
     background-color: indigo;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .details {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 4px;
     padding: 4px;
     margin-top: 60px;
 }
 
 .imagein {
     height: 150px;
     width: 220px;
 }
 
 .name {
     font-size: x-large;
     font-weight: bold;
 }
 
 .slick-side > div {
     margin-right: 10px; /* Adjust the margin to add gap between cards */
 }
 
 .alumni {
     text-align: center;
     padding-top: 50px;
     color:rgb(23, 28, 155);
 }