.stCourse{
    background-color: #385d84;
}
.card-group{

    /* margin-right:20px ; */
    
    
    display: flex;
    gap: 40px;
    /* border-radius: 8px; */
    margin-left:100px;
    flex-direction: row;
    padding-bottom: 70px;
    /* padding-top: 10px; */
    width: 65rem;
    flex-wrap: wrap;


}

.card-img-top{
    object-fit: cover;
}

.h1 {
    font-size: 40px;
    color:whitesmoke;
    /* font-weight: bold; */
    text-transform: uppercase;
    margin-top:20px;
    padding: 20px;
    
}

/* For smaller devices (up to 768px) */
@media (max-width: 768px) {
    .card-group {
        margin-left: 20px; /* Adjust margins for smaller screens */
        width: auto; /* Allow cards to adjust based on screen width */
        padding-bottom: 40px; /* Reduce padding for smaller screens */
    }

    .custom-heading {
        font-size: 2rem; /* Adjust heading font size for smaller screens */
        padding: 10px; /* Reduce padding for smaller screens */
    }
}

/* For larger devices (more than 1000px) */
@media (min-width: 1000px) {
    .headerImg {
        margin-top: 80px;
    }
}

@media screen and (max-width: 650px) {
    
    .headerImg {
        margin-top: 80px;
    }

    .card-group {
        margin-left: 20px;
        margin-right: 20px;
        width: auto;
        padding-bottom: 40px;
    }
    

  }
